@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
}

$primary-tomato: hsl(4, 100%, 67%);
$primary-tomato-2: #fe527a;
$neutral-dark-slate-grey: hsl(234, 29%, 20%);
$neutral-charcoal-grey: hsl(235, 18%, 26%);
$neutral-grey: hsl(231, 7%, 60%);
$neutral-grey_outline: hsla(231, 7%, 60%, 0.500);
$neutral-white: hsl(0,0%, 100%);

$attribution-link: hsl(228, 45%, 44%);



html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Regular', serif;
    background-color: $neutral-charcoal-grey;
}

.main-page  {
    opacity: 1;
    transition: opacity linear .15s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //box-shadow: 20px 20px 50px $shadow-color;
    border-radius: 36px;
    background-color: $neutral-white;
    @media only screen and (width >= 768px) {
        height: 641px;
        width: 928px;
    }
    @media only screen and (width < 768px) {
        flex-direction: column-reverse;
    }

}

%bullet-point-default {
    position: relative;
    top: -4px;
    left: 10px;
}
%span-point-default {
    @media only screen and (width < 768px) {
        margin-bottom: 8px;
    }
}

%button-default {
    border-radius: 10px;
    border: none;
    background-color: $neutral-dark-slate-grey;
    color: $neutral-white;
    font-size: 15px;
    font-weight: 700;
    transition: box-shadow 1s;
    &:hover{
        background: linear-gradient(
            to left,
            $primary-tomato,
            $primary-tomato-2
            );
        box-shadow: 
            0px -15px 15px $neutral-white,
            0px 0px 30px $primary-tomato;
        transition: box-shadow 1s;
    }
}

.sign-up {
    @media only screen and (width >= 768px) {
        width: 50%;
    }

    &__header {
        padding-top: 10%;
        margin-bottom: 2%;
        text-align: center;
        font-size: 56px;
        color: $neutral-dark-slate-grey;
        font-family: 'Roboto Bold', serif;
        font-weight: 500;
        @media only screen and (width < 768px) {
            font-size: 42px;
            text-align: left;
            margin-left: 11%;
        }
    }

    &__text {
        padding-left: 13%;
        font-size: 16px;
        line-height: 25px;
        @media only screen and (width < 768px) {
            text-align: left;
            padding-left: 11%;
            width: 70%;
        }
    }

    &__list {
        margin-top: 5%;
        padding-left: 19%;
        margin-bottom: 5%;
        list-style-image: url('../images/icon-list.svg');
        font-size: 16px;
        line-height: 36px;
        @media only screen and (width < 768px) {
            padding-left: 17%;
            width: 64%;
            line-height: 24px;
        }
    }

    &__point-1-span {
        @extend %bullet-point-default;
    }
    &__point-2-span {
        @extend %bullet-point-default;
    }
    &__point-3-span {
        @extend %bullet-point-default;
    }
    &__point-1 {
        @extend %span-point-default;
    }
    &__point-2 {
        @extend %span-point-default;
    }
    &__point-3 {
        @extend %span-point-default;
    }
}

.email-input {
    &__input-label {
        padding-top: 1%;
        padding-left: 13%;
        font-size: 12px;
        font-family: 'Roboto Bold', serif;
        width: 82%;
        @media only screen and (width < 768px) {
            padding-top: 5%;
            padding-left: 10%;
            width: 72%;
        }
    }
    &__error {
        color: red;
        float: inline-end;
        &--disabled{
            display: none;
        }
    }
    &__input-field {
        margin-left: 13%;
        width: 74%;
        padding: 4%;
        border-radius: 8px;
        border: 1px solid $neutral-grey_outline;
        font-size: 16px;
        color:$neutral-charcoal-grey;
        transition: .5s;
        &--error {
            border-color: #be7f7a;
            background-color: #ffe8e6;
            color: #be7f7a;
            transition: .5s;
        }
        @media only screen and (width < 768px) {
            margin-left: 10%;
            width: 72%;
        }
    }
}

.sign-up__submit-button {
    margin-top: 5%;
    margin-left: 13%;
    width: 83%;
    padding: 4%;
    @extend %button-default;
    @media only screen and (width < 768px) {
        margin-left: 10%;
        width: 80%;
        margin-bottom: 10%;
    }
}

.image-section {
    @media only screen and (width >= 768px) {
        width: 50%;
    }

    &__img-desktop {
        @media only screen and (width < 768px) {
            display: none;
        }
        padding-left: 7%;
        width: 90%;
        padding-top: 5%;
        height: 92%;
    }
    &__img-mobile {
        @media only screen and (width >= 768px) {
            display: none;
        }
        width: 100%;
    }
}


//============================

.pop-up {
    opacity: 1;
    transition: opacity linear .15s;
    border-radius: 36px;
    background-color: $neutral-white;
    width: 503px;
    height: 520px;
    @media only screen and (width < 768px) {
        width: 360px;
        height: 480px;
    }

    &__icon-success {
        margin-top: 10%;
        margin-left: 13%;
    }

    &__header {
        margin-top: 7%;
        margin-left: 13%;
        margin-bottom: 5%;
        font-size: 56px;
        font-family: "Roboto Bold", serif;
        color: $neutral-dark-slate-grey;
        font-weight: 500;
        line-height: 56px;
        @media only screen and (width < 768px) {
            font-size: 42px;
        }
    }

    &__text {
        margin-left: 13%;
        margin-bottom: 8%;
        width: 76%;
        line-height: 24px;
    }

    &__email-display {
        font-family: 'Roboto Bold', serif;
    }

    &__dismiss-button {
        margin-left: 13%;
        width: 75%;
        padding: 3.5%;
        @extend %button-default;
        @media only screen and (width < 768px) {
            margin-top: 5%;
        }
    }
}

//============================

.main-page--invisible {
    opacity: 0;
    transition: opacity linear .15s;
    font-size: 30;
}

.pop-up--invisible {
    opacity: 0;
    transition: opacity linear .15s;
}

.main-page--disabled {
    display: none;
}

.pop-up--disabled {
    display: none;
}

.attribution {
    padding-top: 64px;
    padding-bottom: 32px;
    font-size: 11px; 
    text-align: center; 
    color: $neutral-white;
    @media only screen and (width < 768px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    &__link { 
        color: $neutral-grey; 
    }
}
