@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
}

$primary-tomato: hsl(4, 100%, 67%);
$neutral-dark-slate-grey: hsl(234, 29%, 20%);
$neutral-charcoal-grey: hsl(235, 18%, 26%);
$neutral-grey: hsl(231, 7%, 60%);
$neutral-grey_outline: hsla(231, 7%, 60%, 0.500);
$neutral-white: hsl(0,0%, 100%);

$attribution-link: hsl(228, 45%, 44%);

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Regular', serif;
    background-color: $neutral-charcoal-grey;
}

.main-page  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //box-shadow: 20px 20px 50px $shadow-color;
    border-radius: 36px;
    @media only screen and (width < 768px) {
        flex-direction: column-reverse;
    }
    background-color: $neutral-white;
    height: 641px;
    width: 928px;
}

%bullet-point-default {
    position: relative;
    top: -4px;
    left: 10px;
}

.sign-up {
    width: 50%;

    &__header {
        padding-top: 10%;
        margin-bottom: 2%;
        text-align: center;
        font-size: 56px;
        color: $neutral-dark-slate-grey;
        font-family: 'Roboto Bold', serif;
        font-weight: 500;
    }

    &__text {
        padding-left: 13%;
        font-size: 16px;
        line-height: 25px;
    }

    &__list {
        margin-top: 5%;
        padding-left: 19%;
        margin-bottom: 5%;
        list-style-image: url('../images/icon-list.svg');
        font-size: 16px;
        line-height: 36px;
    }

    &__point-1-span {
        @extend %bullet-point-default;
    }
    &__point-2-span {
        @extend %bullet-point-default;
    }
    &__point-3-span {
        @extend %bullet-point-default;
    }
}

.email-input {
    &__input-label {
        padding-top: 1%;
        padding-left: 13%;
        font-size: 12px;
        font-family: 'Roboto Bold', serif;
    }
    &__input-field {
        margin-left: 13%;
        width: 74%;
        padding: 4%;
        border-radius: 8px;
        border: 1px solid $neutral-grey_outline;
        font-size: 16px;
        color:$neutral-charcoal-grey;
    }
}

.sign-up__submit-button {
    margin-top: 5%;
    margin-left: 13%;
    width: 83%;
    border-radius: 10px;
    border: none;
    padding: 4%;
    background-color: $neutral-dark-slate-grey;
    color: $neutral-white;
    font-size: 15px;
    font-weight: 700;
}

.image-section {
    width: 50%;

    %__img {
        padding-left: 7%;
        width: 90%;
        padding-top: 5%;
        height: 92%;
    }
}



/*
.main-page--disabled {
    overflow: hidden;
    position: fixed;
    visibility: hidden; //change later
}
*/
.pop-up--disabled {
    overflow: hidden;
    position: fixed;
    visibility: hidden; //change later
}

.attribution {
    position: absolute;
    bottom: 25px;
    font-size: 11px; 
    color: $neutral-white;
    text-align: center; 

    &__link { 
        color: $neutral-grey; 
    }
}
